

/* Body ================================================ */

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background: #000000;
}

button {
  padding-block: 0;
  padding-inline: 0;
  cursor: pointer;
}

audio {
  opacity: 0;
}


/* Canvas ================================================ */

/* main {
  display: grid;
  place-items: center;
  position: fixed;
  top: 10px;
  left: 25px;
  width: 70vw;
  height: calc(100vh - 180px);
  margin: 0 auto;
} */

canvas {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70% !important;
  height: auto !important;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  z-index: -1;
}

.cavas-area {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 160 / 81;
  /* aspect-ratio: 70 / 35; */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  z-index:5;
}



/* Video ================================================ */

.videoContainer {
  display: grid;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  margin: 0;
  padding: 0;
  aspect-ratio: 160 / 81;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  pointer-events: none;
  border: none;
}

#videoPlayer {
  display: block;
  position: absolute;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  pointer-events: none;
  object-fit: cover;
  
  &::-webkit-media-controls {
    display:none !important;
 }
}


/* Menu: Radio Btn ================================================ */

#radioRandomBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, 60px);
  -webkit-transform: translate(-50%, 60px); /* Safari */
  -moz-transform: translate(-50%, 60px); /* Firefox */
  -ms-transform: translate(-50%, 60px); /* IE 9 */
  -o-transform: translate(-50%, 60px); /* Opera */
  border: none;
  background: transparent;
  z-index: 5;
}

#radioRandomBtnImg {
  width: 120px;
}

.radioRandomBtnLoading {
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(270deg); }
}


/* Menu ================================================ */

.menu-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 14%;
  margin: 0;
  padding: 0;
  z-index: 2;
  mix-blend-mode: difference;
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.menu-bottom {
  position: fixed;
  top: 40%;
  right: 0;
  /* bottom: 10px;
  right: 0; */
  transform: rotate(90deg) translateX(100%);
  transform-origin: top right;
  width: 14%;
  margin: 0;
  padding: 0;
  z-index: 5;
  /* mix-blend-mode: difference; */
}

#playStop {
  display: none;
}

#radioStationText {
  display: none;
}


/* Menu: chat ================================================ */

.menu-chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100svh;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  mix-blend-mode: difference;
}








